<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Rap-uniQverse</h1>
    <h2><%= user.userName %>'s selection of top bars.</h2>
    <ul>
    <% verses.forEach( el => { %>
            <li class='rapList' data-id='<%=el._id%>'>
                <span class="nameItem"><%= el.name %></span>
                <span class='verseItem'><%= el.verse %></span>
                <span class='del'> Delete </span>
            </li>
    <% }) %>    
    </ul>


    <form action="/add-verse/createVerse" method='POST'>
        <input type="text" placeholder="Artist's name" name="nameItem">
        <input type="text" placeholder="Enter verse" name="verseItem">
        <input type="submit" value="send">
    </form>

    <a href="../auth/logout">Logout</a>

    <script src="js/main.js"></script>
</body>
</html>